html {
    height: 100%;
}
body {
    height: 100%;
}
#primeChecker {
    float: left;
    width: 640px;
    padding: 6px 6px;
    border: 1px solid #333;
    background: #eee;
}
#judgeNumber {
    width: calc(100% - 2px);
    padding: 4px 0;
    text-align: center;
    border: 1px solid #030;
    background: #ded;
    font-size: 350%;
    color: #232;
    word-wrap: break-word;
}
#result {
    width: calc(100% - 2px);
    padding: 3px 0;
    text-align: center;
    border: 1px solid #030;
    background: #ded;
    font-size: 160%;
    color: #232;
    margin-bottom: 6px;
}
#buttons {
    display: flex;
    flex-wrap: wrap;
}
.button {
    width: calc(100% / 6);
    padding: 12px 0;
    text-align: center;
    border: 1px solid #030;
    background: #777;
    font-size: 320%;
    color: #f9fff9;
}
.button.gray {
    background: #888;
}
.button.red {
    background: rgb(204, 125, 125);
}
#buttonJudge {
    width: calc(100% / 3);
}
#buttonNone {
    display: none;
}
#history {
    float: left;
    white-space: nowrap;
    height: 800px;
    width: calc(100% - 680px);
    margin: 0 10px;
    font-size: 80%;
}
@media screen and (max-width: 670px) {
    #primeChecker {
        width: calc(100% - 14px);
    }
}
@media screen and (max-height: 430px) {
    #judgeNumber {
        padding: 0;
    }
    #result {
        padding: 0;
    }
    .button {
        font-size: 300%;
        padding: calc((100vh - 332px) / 6) 0;
    }
}
@media screen and (max-width: 475px) {
    #primeChecker {
        width: 100%;
    }
    #buttons {
        flex-direction: column;
        height: 425px;
    }
    .button {
        width: calc(100% / 4);
    }
    #button1 {
        order: 1;
    }
    #button4 {
        order: 2;
    }
    #button7 {
        order: 3;
    }
    #buttonT {
        order: 4;
    }
    #buttonK {
        order: 5;
    }
    #button2 {
        order: 6;
    }
    #button5 {
        order: 7;
    }
    #button8 {
        order: 8;
    }
    #buttonJ {
        order: 9;
    }
    #buttonNone {
        display: inline;
        visibility: hidden;
        order: 10;
    }
    #button3 {
        order: 11;
    }
    #button6 {
        order: 12;
    }
    #button9 {
        order: 13;
    }
    #buttonQ {
        order: 14;
    }
    #button0 {
        order: 15;
    }
    #buttonClear {
        order: 16;
    }
    #buttonDelete {
        order: 17;
    }
    #buttonJudge {
        order: 18;
        height: 255px;
        width: calc(100% / 4);
    }
}
@media screen and (max-width: 475px) and (max-height: 430px)  {
    
}