html {
    height: 100%;
}
body {
    height: 100%;
}
#primeChecker {
    float: left;
    width: 640px;
    padding: 6px 6px;
    border: 1px solid #333;
    background: #eee;
}
#judgeNumber {
    width: calc(100% - 2px);
    border: 1px solid #030;
    background: #ded;
}
#judgeNumber div {
    display: inline-block;
    width: 100%;
    margin: 8px 0;
    color: #232;
    font-size: 350%;
    line-height: 66px;
    word-wrap: break-word;
    text-align: center;
}
#result {
    position: relative;
    width: calc(100% - 2px);
    height: 39px;
    border: 1px solid #030;
    background: #ded;
    margin-bottom: 6px;
    white-space: nowrap;
}
#result div {
    position: absolute;
    top: 50%;
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
    width: 100%;
    font-size: 160%;
    color: #232;
    text-align: center;
}
#buttons {
    display: flex;
    flex-wrap: wrap;
}
.button {
    width: calc(100% / 6);
    height: 85px;
    padding: 0;
    border: 1px solid #030;
    margin: 0;
    background: #777;
    font-size: 320%;
    color: #f9fff9;
}
.button.gray {
    background: #888;
}
.button.red {
    background: rgb(204, 125, 125);
}
#buttonJudge {
    width: calc(100% / 3);
}
#buttonNone {
    display: none;
}
#history {
    float: left;
    white-space: nowrap;
    height: 800px;
    width: calc(100% - 680px);
    margin: 0 10px;
    font-size: 80%;
}
@media screen and (max-width: 670px) {
    #primeChecker {
        width: calc(100% - 14px);
    }
}
@media screen and (max-height: 418px) {
    .button {
        font-size: 300%;
        height: calc((100vh - 162px) / 3);
    }
}
@media screen and (max-width: 470px) {
    #buttons {
        flex-direction: column;
        height: 426px;
    }
    .button {
        height: calc(100% / 5);
        width: calc(100% / 4);
    }
    #button1 {
        order: 1;
    }
    #button4 {
        order: 2;
    }
    #button7 {
        order: 3;
    }
    #buttonT {
        order: 4;
    }
    #buttonK {
        order: 5;
    }
    #button2 {
        order: 6;
    }
    #button5 {
        order: 7;
    }
    #button8 {
        order: 8;
    }
    #buttonJ {
        order: 9;
    }
    #buttonNone {
        display: inline;
        visibility: hidden;
        order: 10;
    }
    #button3 {
        order: 11;
    }
    #button6 {
        order: 12;
    }
    #button9 {
        order: 13;
    }
    #buttonQ {
        order: 14;
    }
    #button0 {
        order: 15;
    }
    #buttonClear {
        order: 16;
    }
    #buttonDelete {
        order: 17;
    }
    #buttonJudge {
        order: 18;
        height: calc(100% / 5 * 3);
        width: calc(100% / 4);
    }
}
@media screen and (max-width: 375px) {
    .button {
        font-size: 270%;
    }
}
@media screen and (max-height: 340px) {
    .button {
        font-size: 270%;
    }
}
@media screen and (max-width: 475px) and (max-height: 574px)  {
    #buttons {
        height: calc(100vh - 158px);
    }
}